@import 'media.css';
@import 'reset.css';
@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");




body{
  color: white;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  font-family: 'Inter', system-ui, sans-serif;
  background: rgba(0, 0, 0, 0.8);

}

ul{
  list-style-type: none;
}

.container {
  width: 1680px;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
}



/* ----------------------Header-------------------- */

.header {

}

.header__container {
  display: flex;

  align-items: center;
  justify-content: space-between;
  height: auto;
}
.header__name {
  font-size: 69px;
  font-weight: 400;
  
  color: white;
}

.header__navigation {
  
}
.header__list {
  display: flex;
  gap:60px ;
  color: white;

  
}
.heder__list-item {
  font-size: 30px;
}
/* ----------------------------Main-------------------------------- */


/* ----------------------------Form-------------------------------- */


.main{
}

.main__container {
  /* background-color: rgba(37, 35, 35, 1); */
  padding-top: 100px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.search{
  display: flex;
  justify-content: center;
  margin-bottom: 53px;
}
.form {
  display: flex;                     
  width: 700px;                      
  height: 70px;                   
  border-radius: 25px;              
  background-color: rgba(217, 217, 217, 1); 
  overflow: hidden;   
  gap: 17px;               
}

.form__input {
  flex-grow: 1;                      
  background-color: rgba(217, 217, 217, 1);
  border: none;                      
  font-size: 30px;                  
  outline: none;                     /* Убираем стандартный контур при фокусе */
}

.form__button {
  background-color: rgba(217, 217, 217, 1); 
  border: none;                                          
  cursor: pointer;   
  margin-left: 40px;
}

.form__button img {
  width: 45px;
  height: auto;                       
}

/* ------------------------------------Weather-------------------- */

.weather {
  width: 870px;
  height: 405px;
  padding: 15px 35px;
  background: linear-gradient(167deg,#42D2A6 4.7%, #007991 95.98% ) #389196;
  border-radius: 25px;


}
.weather__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.weather__city {
  display: flex;
  justify-content: center;
  width: 800px;
  font-size: 70px;
  padding-bottom: 30px;
}
.weather__content {
  width: 800px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.weather__img-term {
}
.weather__temp {
  font-size: 70px;
  font-weight: 300;
}
.weather__img-sky{
 
}
.weather__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.weather__details-1 {
}
.weather__title {
}
.value {
}
.weather__details-2 {
}
.weather__details-3 {
}
.weather__details-4 {
}


/*------------------------------------- wether-scroll------------------------------ */
.weather-time {
  
}
.weather-time__slider {

  padding-bottom: 25px;
  display: flex;
  overflow-x:auto; 
  gap: 50px;
}

.weather-time__slider::-webkit-scrollbar{
  /* width: 8px; */
  height: 10px;
}
.weather-time__slider::-webkit-scrollbar-thumb {
  background: rgba(66, 210, 166, 0.7); /* Цвет скроллбара */
  border-radius: 4px; /* Скругление углов */
}

.weather-time__slider::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Фон трека скроллбара */
}
.weather-time__item {
  border-radius: 25px;
  width: 120px;
  height: 120px;
  background: linear-gradient(167deg,#42D2A6 4.7%, #007991 95.98% ) #389196;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}

.weather-time__item img{
  height: 68px;
}
.time {
}
.temp {
}